body {
        color: #ffffff;
        background: linear-gradient(#A5A5A5, #121111);
        font-family: "Montserrat", sans-serif;
        margin-bottom: 100px;
}

header {
        border-bottom: solid 2px #F2F2F2;
        padding: 5px;
        font-size: 40px;
        font-family: "Abril Fatface", serif;
}

.chamada {
        background: #ff0000;
        margin: 8px;

        padding: 20px;
        display: flex;
        justify-content: center;

}

iframe {
        margin-right: 100px;
        margin-top: 50px;
}

.chamada-texto {
        margin-right: 5%;
        padding: 20px;
}

h1 {
        font-size: 60px;
}

h1#parte-1 {
        margin: 0;
        padding-top: -10;
        color: black;
}

p {
        font-size: 20px;
}

.categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
}

.categoria {
        padding-left: 20px;
        padding-right: 20px;
}

.categoria-videos img {
        opacity: 65%;
        height: 200;
}

.categoria-videos img:hover {
        opacity: 100%;
        border: solid 2px #F2F2F2;
}

.categoria h2 {
        border-bottom: solid 1px #F2F2F2;
        font-size: xx-large;
}